extends layout

block content
 h1= title

 form(id='kiteForm', action="/resource/kite", method="POST")
   div.form-group
        label.kiteAttr(for='kite_color') kite color
        input#kite_color(type='text', name='kite_color')
   div.form-group
        label.kiteAttr(for='kite_quality') kite quality
        input#kite_quality(type='text', name='kite_quality')
   div.form-group
        label.kiteAttr(for='kite_cost') kite cost
        input#kite_cost(type='number', name='kite_cost')
        input(type="submit")
 script.
   document.forms['kiteForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });